# GZIP
AddOutputFilterByType DEFLATE text/html text/css application/javascript
# Cache estático
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType text/css "access plus 30 days"
  ExpiresByType image/webp "access plus 30 days"
</IfModule>